/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.styleci.yml
.editorconfig
SuperCooperationApi.iml
/storage/debugbar/
public/nginx.htaccess
public/uploads/
package-lock.json
/storage/command/
/storage/command/*.txt
.idea
