body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{-webkit-text-size-adjust:100%;}
a, a:hover{text-decoration:none}
em{font-style:normal}
img{border:0;vertical-align:middle}
ul, li, ol, dd {list-style: none}
textarea {font-size: 12px !important;}

.ivu-poptip-confirm .ivu-poptip-body .ivu-icon {left: 16px}

.clear-fix:before,
.clear-fix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear-fix {
    *zoom: 1;
    zoom: 1;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .3);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.al {text-align: left}
.ar {text-align: right}
.ac {text-align: center}

.fl {float: left}
.fr {float: right}

.rel {position: relative}
.abs {position: absolute}

.p10 {padding: 10px}
.pl5 {padding-left: 5px}
.pl10 {padding-left: 10px}
.pt5 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt20 {padding-top: 20px}
.pr10 {padding-right: 10px}
.pr20 {padding-right: 20px}
.pb5 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb20 {padding-bottom: 20px}

.m0 {margin: 0}
.mt0 {margin-top: 0}
.mt1 {margin-top: 1px}
.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt20 {margin-top: 20px}
.mt40 {margin-top: 40px !important;}
.mt5 {margin-top: -5px}
.mr0 {margin-right: 0 !important;}
.mr5 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr20 {margin-right: 20px}
.mb0 {margin-bottom: 0}
.mb1 {margin-bottom: 1px}
.mb5 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.ml5 {margin-left: 5px}
.ml10 {margin-left: 10px}
.ml20 {margin-left: 20px}

.fs12 {font-size: 12px}

.w375 {width: 373px}
.bg-white {background-color: white}

.max-w-100 {max-width: 100%}
.w100 {width: 100%}
.h100 {height: 100%}

.sup-text {color: #9ea7b4}

.nowrap {white-space: nowrap;}
.line1 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.line2 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.line3 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical}
.line4 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical}
.line5 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical}
.line6 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical}
.line7 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical}
.line8 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical}
.line9 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 9; -webkit-box-orient: vertical}

.mask {
    background-color: rgba(51, 51, 51, .4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pointer {cursor: pointer}

.ivu-rate-star {margin-right: 3px}
.ivu-rate-star-half .ivu-rate-star-content:before, .ivu-rate-star-full:before {color: #68bf84}
.ivu-menu-item .ivu-icon, .ivu-menu-submenu .ivu-icon {font-size: 16px; margin-right: 12px !important;}

.no-data {padding: 50px 0; text-align: center}

.img-w80h80 {
    max-width: 80px;
    max-height: 80px;
}
.img-w40h40 {
    max-width: 40px;
    max-height: 40px;
}
.img-w160h160 {
    max-width: 160px;
    max-height: 160px;
}

/* 重置富文本编辑器样式*/
.w-e-text h1, .w-e-text h2, .w-e-text h3, .w-e-text h4, .w-e-text h5, .w-e-text p, .w-e-text pre, .w-e-text table {
    margin: 0 !important;
}
.w-e-toolbar {flex-wrap: wrap}


/* single line */
.single-line {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.two-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.three-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* flex */
.flex-display {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-inline-display {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-align-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-align-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.flex-align-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex-justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex1 {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}

.flex01 {
    -webkit-box-flex: 0 1 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 1 auto;
    /* OLD - Firefox 19- */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 1 auto;
    /* Chrome */
    -ms-flex: 0 1 auto;
    /* IE 10 */
    flex: 0 1 auto;
}

.flex0 {
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 auto;
    /* OLD - Firefox 19- */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 0 auto;
    /* Chrome */
    -ms-flex: 0 0 auto;
    /* IE 10 */
    flex: 0 0 auto;
}

.flex-auto {
    -webkit-box-flex: auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: auto;
    /* OLD - Firefox 19- */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: auto;
    /* Chrome */
    -ms-flex: auto;
    /* IE 10 */
    flex: auto;
}

.flex-none {
    -webkit-box-flex: none;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: none;
    /* OLD - Firefox 19- */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: none;
    /* Chrome */
    -ms-flex: none;
    /* IE 10 */
    flex: none;
}
